<!DOCTYPE html>
<html lang="en">
<head>
	<title>Have a watercooler chat online!</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
    <div id="app">
        <div id="watercooler"></div>
        <div id="content">
            <h1>Have a watercooler chat online at <i>{{companyName}}</i>!</h1>
            <p>Have a random chat with your colleagues from {{companyName}}, as if you are standing by the watercooler!</p>
            
            <template v-if="state == 'not-in-queue'">
                <div class="messagebox">
                    <p class="messageheader">Let's get started!</p>
                    <p>
                        <form action="javascript:void(0)">
                            <label for="name">Enter your name (optional):</label><input type="text" name="userName" id="userName" placeholder="Anonymous" v-model.userName="userName"/><br>
                            <input type="submit" class="bigbutton" value="Put me in the queue for a chat!" v-on:click="enterQueue">
                        </form>
                    </p>
                </div>

                <h2>How it works:</h2>
                <ul>
                    <li>Decide on a moment with your colleagues to have a random chat, e.g. the typical coffee time 10am or 3pm</li>
                    <li>Share this URL with your colleagues: <span style="white-space: nowrap;"><a :href="`https://have-a.watercoolerchat.online/at/${companyName}/`">https://have-a.watercoolerchat.online/at/{{companyName}}/</a></span></li>
                    <li>Click the button to enter the queue.</li>
                    <li>We select a random colleague for you to chat with.</li>
                    <li>We'll show you both a unique link to a free <a href="https://talky.io/" target="_blank" rel="noopener">Talky</a> chatroom.</li>
                    <li>Click the link, set up your devices, and start chatting!</li>
                </ul>
            </template>
            
            <template v-if="state == 'queued'">
                <div class="messagebox">
                    <p class="messageheader">We are looking for a chat partner</p>
                    <div class="loader">...</div>
                    <br><br>
                </div>
                <p>Share this URL with your colleagues: <span style="white-space: nowrap;"><a :href="`https://have-a.watercoolerchat.online/at/${companyName}/`">https://have-a.watercoolerchat.online/at/{{companyName}}/</a></span></p>
            </template>
            
            <template v-if="state == 'chat-ready'">
                <div class="messagebox">
                    <p class="messageheader">Chat partner found!</p>
                    <p>Go to Talky.io to chat<span v-if="chatPartner"> with <i>{{chatPartner}}</i></span>: <a :href="chatUrl" target="_blank" rel="noopener">{{chatUrl}}</a>
                </div>
                <p>Share this URL with your colleagues: <span style="white-space: nowrap;"><a :href="`https://have-a.watercoolerchat.online/at/${companyName}/`">https://have-a.watercoolerchat.online/at/{{companyName}}/</a></span></p>
            </template>
        </div>
    </div>
    <div id="footer">
        <span class="footeritem">Powered by <a href="https://topdesk.com/" target="_blank"><img src="/logo.png" class="TOPdesk-logo" alt="TOPdesk"></a> your guides to service excellence</span> - 
        <span class="footeritem"><a href="https://github.com/TOPdesk/watercoolerchat/issues" target="_blank">Feedback?</a></span> - 
        <span class="footeritem"><a href="https://www.topdesk.com/nl/privacyverklaring/" target="_blank">Privacy Policy</a></span> - 
        <span class="footeritem"><a href="https://github.com/TOPdesk/watercoolerchat/" target="_blank">Source Code</a></span>
    </div>
    <script src="/watercoolerchat.js"></script>
</body>
</html>