<!DOCTYPE html>
<html lang="en">
<head>
	<title>Do the Virtual escape room online!</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="module" src="/notifications.js"></script>
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" type="text/css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
    <div id="app">
        <div id="watercooler"></div>
        <div id="content">
            <h1>Do the Virtual escape room at <i>{{companyName}}</i>!</h1>
            <p>Do the escape room with your colleagues from {{companyName}}, as if you formed your team by the watercooler!</p>

			<div class="messagebox">
            	<template v-if="state === 'not-in-queue'">
                    <p class="messageheader">Let's get started!</p>
                    <p>
                        <form action="javascript:void(0)">
                            <label for="userName">Enter your name (optional):</label><input type="text" name="userName" id="userName" placeholder="Anonymous" v-model.userName="userName"/><br>
                            <input type="submit" class="bigbutton" value="Put me in the queue for a chat!" v-on:click="enterQueue">
                        </form>
                    </p>
                </template>

            	<template v-if="state === 'queued'">
                    <p class="messageheader">We are looking for chat partners (this may take several minutes)</p>
                    <div class="loader">...</div>
					<br><br>
                </template>

				<template v-if="state === 'chat-ready'">
					<p class="messageheader">Chat partners found!</p>
					<p>Go to Microsoft Teams to chat<span v-if="chatPartners"> with <i>{{chatPartners}}</i></span>: <a :href="chatUrl" target="_blank" rel="noopener">Start Teams meeting</a>.
					<p>If your team is in the chat, you can start the Escape room: <a href="https://www.online-escape-game.nl/topdesklp" target="_blank" rel="noopener">Start Escape Room</a>.
				</template>
				<notifications-button v-if="features.includes('notifications')">
			</div>

			<template v-if="state == 'not-in-queue'">
                <h2>How it works:</h2>
                <ul>
                    <li>Click the button to enter the queue.</li>
                    <li>We select a group of random colleagues for you to do the escape room with.</li>
                    <li>We'll show you a unique link to a MS Teams meeting.</li>
                    <li>Click the link, set up your devices, and start the escape room!</li>
                </ul>
            </template>
        </div>
    </div>
    <div id="footer">
        <span class="footeritem">Powered by <a href="https://topdesk.com/" target="_blank"><img src="/logo.png" class="TOPdesk-logo" alt="TOPdesk"></a> your guides to service excellence</span> -
        <span class="footeritem"><a href="mailto:info@topdesk.com" rel="noopener noreferrer">Questions?</a></span> -
        <span class="footeritem"><a href="https://www.topdesk.com/nl/privacyverklaring/" target="_blank">Privacy Policy</a></span> -
        <span class="footeritem"><a href="https://github.com/TOPdesk/watercoolerchat/" target="_blank" rel="noopener noreferrer">Source code</a></span>
    </div>
		<script type="module" src="/watercoolerchat.js"></script>
</body>
</html>
