html, body {
	font-family: 'Open Sans', sans-serif;
	background-color: #42A5AD;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#app {
	width: 100%;
	height: 100%;
}

#watercooler {
	background-image: url('watercooler.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 50%;
	height: 100%;
	position: absolute;
}

#content {
	width: 40%;
	left: 50%;
	position: absolute;
	padding: 10px;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #42A5AD;
	text-align: center;
	padding: 5px 0;
}

.footeritem {
	padding: 0 1em;
}

img.TOPdesk-logo {
	height: 1em;
	padding: 0 5px;
}

h1, h2 {
	font-family: 'bree-serif', 'Bree Serif', serif;
}

a {
	color: #162A41;
	text-decoration: none;
	font-weight: 500;
}

a:hover {
	color: #101325;
}

input[type=text] {
	width: 80%;
	padding: 2%;
	font-size: 1.3em;
	text-align: center;
	margin-top: 0.4em;
	border: solid 2px #FFFFFF;
	background-color: rgba(255, 255, 255, 0.3);
	color: #162A41;
}

input[type=submit] {
	width: 84%;
	padding: 0.2em;
	font-size: 1em;
	margin-top: 0.4em;
}

.messagebox {
	width: auto;
	margin: 1.5em 2em 3em 2em;
	padding: 0em 0.5em 1em 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 15px;
	border: solid 3px #FFFFFF;
}

.messageheader {
	font-size: 1.7em;
	font-family: 'bree-serif', 'Bree Serif', serif;
	margin-top: 1em;
	margin-bottom: 0em;
}

.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}
.loader {
	color: #FFFFFF;
	font-size: 5px;
	position: relative;
	display: inline-block;
	margin-left: 3.5em;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	top: 0;
	content: '';
	position: absolute;
}
.loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 3.5em;
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
